
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules/
dist/
dist-ssr/
*.local


.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


__pycache__/
*.py[cod]


.env

databases/*.db
databases/*.csv
!databases/.gitkeep   # если хочешь держать пустую папку

venv/
.env/

*.DS_Store
*.AppleDouble
*.LSOverride


._*


Thumbs.db
ehthumbs.db
Desktop.ini
